
body {
  padding: 50px;
  color: black;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/stock-photo-this-is-the-end-78456327.jpeg");
  background-size: 100% 100%;
}

.page{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-size: 35px;
  color: black;
  text-align: center;
 }

h2{
  font-size: 20px;
  text-align: left;

  padding: 20px;
}

h3{
  font-size: 28px;
  padding: 20px;
  color: black;
  text-align: left;
  text-decoration:dotted
}

p{
  font-size: 22px;
}






